name: GeneratePlantumlImages

on:
  push:
    branches: [ '*' ]
    paths: [ 'src/plantuml/**' ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: |
          ls
          exoport puml_file="FHIR-Directory, Sequenzdiagram tim-search.puml"
          curl --silent --show-error --fail -H "Content-Type: text/plain" \
            --data-binary @- https://plantuml.gematik.solutions/plantuml/svg/ \
            --output - < ${puml_file}.puml > images/${puml_file}.svg
